{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tarvelgood</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="icon" type="image/png" href="https://cdn.pixabay.com/photo/2016/12/05/03/56/travel-1883060__340.png">
    <link href="/static/admin/css/vendor/select2/select2.min.css">
    <link href="static/admin/css/vendor/select2/select2.css">
    
</head>
<style>
    body {
        background-attachment: fixed;
        background-color: bisque;
    }
</style>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Travelgood</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <div class="dropdown ml-auto">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">

                    Adout
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="traveldo">ข้อมูลเกี่ยวกับเว็บท่องเที่ยว</a>
                    <a class="dropdown-item" href="#"></a>
                    <a class="dropdown-item" href="/admin"></a>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="logins">Login</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="sign_up">Signup</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="card border-1 shadow my-5">
        <div class="card-body p-5">
            <h3><i class="fa fa-facebook-official" style="font-size:60px;color:blue"></i>
                <br>facebook </h3>
            <h5><a href="https://www.facebook.com/man25846/">Konrawit Chantad</a></h5>


            <br>
            <h3><svg class="octicon octicon-mark-github v-align-middle" height="60" viewBox="0 0 16 16" version="1.1"
                    width="60" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                    </path>
                </svg>
                </i></h3>
            <a href="https://github.com/konrawit01/pythonanywhere">Github</a>

        </div>
    </div>






</body>

</html>