{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tarvelgood</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="icon" type="image/png" href="https://cdn.pixabay.com/photo/2016/12/05/03/56/travel-1883060__340.png">
    <link href="/static/admin/css/vendor/select2/select2.min.css">
    <link href="static/admin/css/vendor/select2/select2.css">
    <link rel="stylesheet" type="text/css" href="static/admin/css/style.css">
    <link href="static/admin/css/background.css" rel="stylesheet">
    <link href="static/admin/css/background1.css" rel="stylesheet">
</head>
<style>
    body{
        background-attachment: fixed;
        background-color: bisque;
    }
</style>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Travelgood</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <div class="dropdown ml-auto">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">

                    เกี่ยวกับ
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">สถานที่ท่องเที่ยวที่น่าสนใจ</a>
                    <a class="dropdown-item" href="#"></a>
                    <a class="dropdown-item" href="/admin"></a>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="logins">Login</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="sign_up">Signup</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="card border-1 shadow my-5">
        <div class="card-body p-5">
            <h3><i class="fa fa-facebook-official" style="font-size:48px;color:blue"></i>
                <br>facebook </h3><h5><a href="https://www.facebook.com/man25846/">Konrawit Chantad</a></h5>
                <a href="https://www.facebook.com/man25846/">ติดต่อ</a>
                <p>+</p>
                <p>+</p>
                <p>+</p>

            
        </div>
        </div>




</body>

</html>