{% load static %}
<!DOCTYPE html>
<html lang="en">
    <!-- tourist แปล ว่า นักท่องเที่ยว -->
<head>
  <meta charset="utf-8">
  <title>Tarvelgood</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="css/select2.css" rel="stylesheet">
</head>


<body>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">


      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">ท่องเที่ยว</a>
        <ul class="navbar-nav mr-auto  mt-lg-1">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto"> 
          
          <div class="dropdown">
            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              ยินดีต้อนรับ
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">สถานที่ท่องเที่ยว</a>
              <a class="dropdown-item" href="#">เกี่ยวกับ</a>
              <a class="dropdown-item" href="#">admin</a>
            </div>
          </div>
          
          <li class="nav-item ">
            <a class="nav-link " href="/login">Login</a>
          </li>
          
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
        
          <li class="nav-item ml-auto">
            <a class="nav-link " href="/admin">admin</a>
          </li>
        </ul>
      </div>
    </div>

    





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>